@model HappyHomeAsp.MVC.Models.User
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Đăng nhập</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Areas/Admin/Template/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Areas/Admin/Template/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Areas/Admin/Template/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="~/Areas/Admin/Template/../index2.html"><b>HAPPYHOME</b>Admin</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Đăng nhập</p>
                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @type = "text", @placeholder = "Nhập tên" })
                        @Html.ValidationMessage("errorUserName", new { @class = "alert-danger" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.PassWord, "", new { @class = "form-control", @type = "password", @placeholder = "Nhập mật khẩu" })
                        @Html.ValidationMessage("errorPassWord", new { @class = "alert-danger" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessage("error", new { @class = "alert-danger" })
                    @Html.ValidationMessage("errorRole", new { @class = "alert-danger" })
                    <div class="clearfix">
                        <!-- /.col -->
                        <div class="text-center no-gutters">
                            <button type="submit" class="btn btn-primary btn-block" style="width: 101px; margin-left: auto; margin-right: auto;">Đăng Nhập</button>
                        </div>
                        <!-- /.col -->

                    </div>
                }
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Areas/Admin/Template/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Areas/Admin/Template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Areas/Admin/Template/dist/js/adminlte.min.js"></script>
</body>
</html>




