@using HappyHomeAsp.MVC.Models
@using System.Collections.Generic;

<!DOCTYPE html>
<html lang="zxx">
<!-- index06:45-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/Template/img/home/Logo-happyhome-removebg-preview.png">
    <meta name="keywords" content="Furniture, Decor, Interior">
    <meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
    <meta name="author" content="tivatheme">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Template/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Template/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Template/libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/Template/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="~/Template/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="~/Template/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="~/Template/libs/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Template/libs/slider-range/css/jslider.css">

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="~/Template/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Template/css/reponsive.css">

</head>

<body id="@ViewBag.Id" class="@ViewBag.Class">
    <header>
        <!-- header left mobie -->
        <!-- header desktop -->
        <div class="header-top d-xs-none ">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-sm-2 col-md-2 d-flex align-items-center">
                        <div id="logo">
                            <a href="@Url.Action("Index","Index","Index")">
                                <img src="~/Template/img/home/Logo-happyhome-removebg-preview.png" alt="logo" class="img-fluid" style="height: 90px">
                            </a>
                        </div>
                    </div>

                    <!-- menu -->
                    <div class="col-sm-5 col-md-5 align-items-center justify-content-center navbar-expand-md main-menu">
                        <div class="menu navbar collapse navbar-collapse">
                            <ul class="menu-top navbar-nav">
                                <li>
                                    <a href="@Url.Action("Index","DiningRoom",new {productTypeId = -1})" class="parent">Sản Phẩm</a>
                                    <div class="dropdown-menu">
                                        <ul>
                                                @foreach (ProductType productType in ViewBag.listType)
                                                {
                                                    <li class="item living-room-drop">
                                                        <a href="@Url.Action("Index", "DiningRoom", new { productTypeId = productType.type_id })" title="Home Page 2">@productType.type</a>
                                                    </li>
                                                }
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","CollectionPage","Index")" class="parent">Bộ Sưu Tập</a>
                                    <div class="dropdown-menu">
                                        <ul>
                                            <li class="item">
                                                <a href="@Url.Action("Index","CollectionPage","Index")" title="Blog List (Sidebar Left)">KOLDING Collection</a>
                                            </li>
                                            <li class="item">
                                                <a href="@Url.Action("Index","CollectionPage","Index")" title="Blog List (Sidebar Left) 2">FIJI Collection</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li>
                                    <a href="#" class="parent">Dịch Vụ</a>
                                    <div class="dropdown-menu service-menu">
                                        <ul>
                                            <li class="item">
                                                <a href="@Url.Action("Index","FaqsPage","Index")" title="Blog List (Sidebar Left)"> Các Câu Hỏi Thường Gặp</a>
                                            </li>
                                            <li class="item">
                                                <a href="@Url.Action("Index","ShoppingGuide","Index")" title="Blog List (Sidebar Left) 2"> Hướng Dẫn Đặt Hàng</a>
                                            </li>
                                            <li class="item">
                                                <a href="@Url.Action("Index","DeliveryPolicy","Index")" title="Category Blog (Right column)">Chính Sách Vận Chuyển</a>
                                            </li>
                                            <li class="item">
                                                <a href="@Url.Action("Index","WarrantyPolicy","Index")" title="Blog List (No Sidebar)">Chính Sách Bảo Mật Thông Tin</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <!-- <li>
                                     <a href="~/Template/contact.html" class="parent">Ưu Đãi</a>
                                 </li>-->
                                <li>
                                    <a href="#" class="parent">Bài viết</a>
                                    <div class="dropdown-menu">
                                        <ul>
                                            <li class="item">
                                                <a href="@Url.Action("Index","BlogListSidebarLeftPage","Index")" title="Blog List (Sidebar Left)">Tin tức</a>
                                            </li>
                                            <li class="item">
                                                <a href="@Url.Action("Index","BlogListSidebarLeftPage","Index")" title="Blog List (Sidebar Left) 2">Khuyến mãi</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","ContactPage","Index")" class="parent">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- search and acount -->
                    <div class="col-sm-5 col-md-5 d-flex align-items-center justify-content-end" id="search_widget">
                        <form method="get" action="#">

                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                            <input type="text" name="s" value="" placeholder="Tìm kiếm" class="ui-autocomplete-input" autocomplete="off">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>

                        <div id="block_myaccount_infos" class="hidden-sm-down dropdown">
                            <div class="myaccount-title ">
                                <a href="#acount" data-toggle="collapse" class="acount">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span>Tài khoản</span>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>

                            </div>

                            <div id="acount" class="collapse">

                                <div class="account-list-content">

                                    <div>
                                        <a class="login" href="user-acount.html" rel="nofollow" title="Log in to your customer account">
                                            <i class="fa fa-cog"></i>
                                            <span>Tài khoản</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="login" href="user-login.html" rel="nofollow" title="Log in to your customer account">
                                            <i class="fa fa-sign-in"></i>
                                            <span>Đăng nhập</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="register" href="user-register.html" rel="nofollow" title="Register Account">
                                            <i class="fa fa-user"></i>
                                            <span>Đăng kí tài khoản</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a class="check-out" href="product-checkout.html" rel="nofollow" title="Checkout">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <span>Thanh toán</span>
                                        </a>
                                    </div>
                                    <div class="link_wishlist">
                                        <a href="user-wishlist.html" title="My Wishlists">
                                            <i class="fa fa-heart"></i>
                                            <span>Danh sách mong muốn</span>
                                        </a>
                                    </div>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="desktop_cart">
                            <div class="blockcart block-cart cart-preview tiva-toggle">
                                <div class="header-cart tiva-toggle-btn">
                                    <span class="cart-products-count">1</span>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </div>
                                <div class="dropdown-content">
                                    <div class="cart-content">
                                        <table>
                                            <tbody>
                                                

                                                <tr>
                                                    <td colspan="3" class="d-flex justify-content-center">
                                                        <div class="cart-button">
                                                            <a href="@Url.Action("Index","ProductCartPage","Index")" title="View Cart">Xem giỏ hàng</a>
                                                            <a href="product-checkout.html" title="Checkout">Thanh toán</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- main content -->
    <div class="main-content" id="@ViewBag.MainContentId">
        @RenderBody()
    </div>

    <div class="inner-footer">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-xs-12">
                        <div class="block">
                            <div class="block-content">
                                <div class="title-block">
                                    NỘI THẤT HAPPYHOME
                                </div>
                                <p class="content-logo">
                                    Nội Thất HAPPYHOME là thương hiệu đến từ Việt Nam
                                    với hơn 35 năm kinh nghiệm trong việc sản xuất và xuất khẩu nội thất đạt chuẩn quốc tế.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-xs-12">
                        <div class="block">
                            <div class="block-content">
                                <div class="title-block">
                                    VỀ CHÚNG TÔI
                                </div>
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index","AboutUsPage","Index")">Giới thiệu HappyHome</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","ContactPage","Index")">Liên hệ</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Recruit","Index")">Tuyển dụng</a>
                                    </li>

                                    <li>
                                        <a href="@Url.Action("Index","AgentPartnerPolicyPage","Index")">Chính sách Đại lý/Đối tác</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="block">
                            <div class="block-content">
                                <div class="title-block">
                                    DỊCH VỤ
                                </div>
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index","FaqsPage","Index")">Các Câu Hỏi Thường Gặp</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","ShoppingGuide","Index")">Hướng Dẫn Đặt Hàng</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","DeliveryPolicy","Index")">Chính Sách Vận Chuyển</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","WarrantyPolicy","Index")">Chính Sách Bảo Hành</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","PrivacyPolicyPage","Index")">Chính Sách Bảo Mật Thông Tin</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="block">
                            <div class="block-content">
                                <div class="title-block">
                                    THÔNG TIN LIÊN HỆ
                                </div>
                                <div class="contact-content">
                                    <div class="data align-self-stretch d-flex">
                                        <i class="fa fa-home float-left m-bottom" aria-hidden="true"></i>
                                        <div class="content-data">
                                            <b class="mr-2">Showroom:</b>Đại Học Nông Lâm TP.HCM
                                        </div>
                                    </div>
                                    <div class="data d-flex align-self-stretch">
                                        <i class="fa fa-clock-o float-left" aria-hidden="true"></i>
                                        <div class="content-data">
                                            <b class="mr-2">Thời gian làm việc: </b>08.00 - 19.00
                                        </div>
                                    </div>
                                    <div class="support d-dflex align-self-stretch">
                                        <div class="data mail-support">
                                            <i class="fa fa-envelope float-left" aria-hidden="true"></i>
                                            <div>HappyHome@domain.com</div>
                                        </div>
                                    </div>
                                    <div class="data d-flex align-self-stretch phone-support" style="margin-left: 0px">
                                        <div class="title-icon">
                                            <i class="fa fa-phone float-left" aria-hidden="true"></i>
                                        </div>
                                        <div>+0012-345-67890</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tiva-copyright">
            <div class="container">
                <div class="border-copyright">
                    <div class="row align-items-center" style="  align-items: center;justify-content: center;">
                        <div class="">
                            <div class="social-content">
                                <div id="social-block">
                                    <div class="social">
                                        <ul class="list-inline mb-0 justify-content-end">
                                            <li class="list-inline-item mb-0">
                                                <a href="#" target="_blank">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item mb-0">
                                                <a href="#" target="_blank">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item mb-0">
                                                <a href="#" target="_blank">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item mb-0">
                                                <a href="#" target="_blank">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tiva-copyright">
            <div class="container">
                <div class="row">
                    <div class="text-center col-lg-12 ">
                        <span>
                            <a href="">Copyright © 2022 Nội Thất HAPPYHOME.</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>

    <!-- Page Loader -->
    <div id="page-preloader">
        <div class="page-loading">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
    <!-- Vendor JS -->
    <script src="~/Template/libs/jquery/jquery.min.js"></script>
    <script src="~/Template/libs/popper/popper.min.js"></script>
    <script src="~/Template/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Template/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="~/Template/libs/owl-carousel/owl.carousel.min.js"></script>

    <script src="~/Template/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="~/Template/libs/slider-range/js/tmpl.js"></script>
    <script src="~/Template/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="~/Template/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="~/Template/libs/slider-range/js/jquery.slider.js"></script>

    <!-- Template JS -->
    <script src="~/Template/js/theme.js"></script>
  
    @RenderSection("scripts", required: false)

</body>

</html>