@model List<HappyHomeAsp.MVC.Models.CartItem>
@{
    ViewBag.Title = "Giỏ hàng ";
    ViewBag.Id = "";
    ViewBag.Class = "product-cart checkout-cart blog";
    ViewBag.MainContentId = "cart";
}
@section scripts{
   
    <script src="~/Scripts/Controller/cartController.js"></script>
}

<div class="container">
    <div class="row">
        <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
            <section id="main">
                <div class="cart-grid row">
                    <div class="col-md-9 col-xs-12 check-info">
                        <h1 class="title-page">Giỏ hàng của bạn</h1>

                        <div class="cart-container">
                            <div class="cart-overview js-cart">
                                <ul class="cart-items">



                                    @foreach (var item in Model)
                                    {
                                        <li class="cart-item">
                                            <div class="product-line-grid row justify-content-between">
                                                <!--  product left content: image-->
                                                <div class="product-line-grid-left col-md-2">
                                                    <span class="product-image media-middle">
                                                        <a href="product-detail.html">
                                                            <img class="img-fluid" src="@item.product.getImageProduct(0)">
                                                        </a>
                                                    </span>
                                                </div>
                                                <div class="product-line-grid-body col-md-6">
                                                    <div class="product-line-info">
                                                        <a class="label" href="product-detail.html" data-id_customization="0">
                                                            @item.product.Name
                                                        </a>
                                                    </div>
                                                    <div class="product-line-info product-price">
                                                        <span class="value">@item.product.Price_sell</span>
                                                    </div>
                                                </div>
                                                <div class="product-line-grid-right text-center product-line-actions col-md-4">
                                                    <div class="row">
                                                        <div class="col-md-5 qty col">
                                                            <div class="label">Qty:</div>
                                                            <div class="quantity">
                                                                <input type="text" name="qty" value="@item.Quantity" class="input-group form-control">

                                                                <span class="input-group-btn-vertical">
                                                                    <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-up" type="button">
                                                                        +
                                                                    </button>
                                                                    <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-down" type="button">
                                                                        -
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5 price col">
                                                            <div class="label">Tổng:</div>
                                                            <div class="product-price total">
                                                                @(Convert.ToDecimal(item.product.Price_sell * item.Quantity))
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 text-xs-right align-self-end col">
                                                            <div class="cart-line-product-actions ">
                                                                <a href="#" data-id="@item.product.Product_id" class="btn-delete">
                                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                        <button id="btnContinue" class="btn">Tiếp tục mua hàng</button>
                        <button id="btnUpdate" class="btn">Cập nhật giỏ hàng</button>
                        <button id="btnDeleteAll" class="btn">Xoá giỏ hàng</button>
                        <button id="btnPayment" class="btn">Thanh toán</button>


                    </div>
            </section>
        </div>
    </div>
</div>
</div>

