
@{
    ViewBag.Title = "Trang chủ";
    ViewBag.Id = "about-us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrap-banner">
    <!-- slide show -->
    <div class="section banner">
        <div class="tiva-slideshow-wrapper">
            <div id="tiva-slideshow" class="nivoSlider">
                <a href="#">
                    <img class="img-responsive" src="~/Template/img/home/home1-banner1.jpg" title="#caption1" alt="Slideshow image">
                </a>
                <a href="#">
                    <img class="img-responsive" src="~/Template/img/home/home1-banner2.jpg" title="#caption2" alt="Slideshow image">
                </a>
                <a href="#">
                    <img class="img-responsive" src="~/Template/img/home/home1-banner3.jpg" title="#caption3" alt="Slideshow image">
                </a>
            </div>
        </div>
    </div>
</div>

<!-- main -->
<div id="wrapper-site">
    <div id="content-wrapper" class="full-width">
        <div id="main">
            <section class="page-home">
                <!-- product living room -->
                <div class="container">

                    <!-- best seller -->
                    <div class="section best-sellers col-lg-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="groupproductlist">
                                    <div class="row d-flex align-items-center">
                                        <!-- column 4 -->
                                        <div class="flex-4 col-lg-4 flex-4">
                                            <h2 class="title-block">
                                                Sản phẩm bán chạy
                                            </h2>
                                            <div class="content-text">
                                                <p>
                                                    Những sản phẩm có lượng người mua cao nhất.
                                                </p>
                                                <div>
                                                    <a href="@Url.Action("Index","ProductGridSidebarLeftPage","Index")"> Xem thêm  </a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- column 8 -->
                                        <div class="block-content col-lg-8 flex-8">
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active show">
                                                    <div class="category-product-index owl-carousel owl-theme owl-loaded owl-drag">
                                                        @for (int i = 1; i <= ViewBag.productTypeListBestSell.Count / 2; i++)
                                                        {
                                                            <div class="item text-center">
                                                                <div class="product-miniature js-product-miniature item-one first-item">
                                                                    <div class="thumbnail-container">
                                                                        <a href="product-detail.html">
                                                                            <img class="img-fluid image-cover" src="@ViewBag.productTypeListBestSell[i].getImageProduct(0)" alt="img">
                                                                            <img class="img-fluid image-secondary" src="@ViewBag.productTypeListBestSell[i].getImageProduct(1)" alt="img">
                                                                        </a>
                                                                        <div class="highlighted-informations">
                                                                            <div class="variant-links">
                                                                                <a href="#" class="color beige" title="Beige"></a>
                                                                                <a href="#" class="color orange" title="Orange"></a>
                                                                                <a href="#" class="color green" title="Green"></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-description">
                                                                        <div class="product-groups">
                                                                            <div class="product-title">
                                                                                <a href="product-detail.html">@ViewBag.productTypeListBestSell[i].Name</a>
                                                                            </div>
                                                                            <div class="product-group-price">
                                                                                <div class="product-price-and-shipping">
                                                                                    <span class="price">1.290.000 vnđ</span>
                                                                                    <!--<del class="regular-price">1,990,000vnđ</del>-->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-buttons d-flex justify-content-center">
                                                                            <form action="#" method="post" class="formAddToCart">
                                                                                <input type="hidden" name="id_product" value="1">
                                                                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                </a>
                                                                            </form>
                                                                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                                            </a>
                                                                            <a href="product-detail.html" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-miniature js-product-miniature item-one first-item">
                                                                    <div class="thumbnail-container">
                                                                        <a href="@Url.Action("Index","ProductDetailPage","Index")">
                                                                            <img class="img-fluid image-cover" src="@ViewBag.productTypeListBestSell[i+1].getImageProduct(0)" alt="img">
                                                                            <img class="img-fluid image-secondary" src="@ViewBag.productTypeListBestSell[i+1].getImageProduct(1)" alt="img">
                                                                        </a>
                                                                        <div class="highlighted-informations">
                                                                            <div class="variant-links">
                                                                                <a href="#" class="color beige" title="Beige"></a>
                                                                                <a href="#" class="color orange" title="Orange"></a>
                                                                                <a href="#" class="color green" title="Green"></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-description">
                                                                        <div class="product-groups">
                                                                            <div class="product-title">
                                                                                <a href="@Url.Action("Index","ProductDetailPage","Index")">@ViewBag.productTypeListBestSell[i + 1].Name</a>
                                                                            </div>
                                                                            <div class="product-group-price">
                                                                                <div class="product-price-and-shipping">
                                                                                    <span class="price">2.999.999 vnđ</span>
                                                                                    <del class="regular-price">3.750.000 vnđ</del>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-buttons d-flex justify-content-center">
                                                                            <form action="#" method="post" class="formAddToCart">

                                                                                <input type="hidden" name="id_product" value="1">
                                                                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                </a>
                                                                            </form>
                                                                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                                            </a>
                                                                            <a href="product-detail.html" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!--  Latest products -->
                        <div class="section best-sellers col-lg-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="groupproductlist">
                                        <div class="row d-flex align-items-center">
                                            <!-- column 4 -->
                                            <div class="flex-4 col-lg-4 flex-4">
                                                <h2 class="title-block">
                                                    Sản phẩm mới nhất
                                                </h2>
                                                <div class="content-text">
                                                    <p>
                                                        Những sản phẩm hiện đại, mới nhất.
                                                    </p>
                                                    <div>
                                                        <a href="@Url.Action("Index","ProductGridSidebarLeftPage","Index")"> Xem thêm  </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- column 8 -->
                                            <div class="block-content col-lg-8 flex-8">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active show">
                                                        <div class="category-product-index owl-carousel owl-theme owl-loaded owl-drag">
                                                            @for (int i = 1; i <= ViewBag.productTypeListNew.Count / 2; i++)
                                                            {

                                                                <div class="item text-center">
                                                                    <div class="product-miniature js-product-miniature item-one first-item">
                                                                        <div class="thumbnail-container">
                                                                            <a href="product-detail.html">
                                                                                <img class="img-fluid image-cover" src="
                                                                                <img class="img-fluid image-cover" src="@ViewBag.productTypeListNew[i].getImageProduct(0)" alt="img">
                                                                                <img class="img-fluid image-secondary" src="@ViewBag.productTypeListNew[i].getImageProduct(1)" alt="img">
                                                                            </a>
                                                                            <div class="highlighted-informations">
                                                                                <div class="variant-links">
                                                                                    <a href="#" class="color beige" title="Beige"></a>
                                                                                    <a href="#" class="color orange" title="Orange"></a>
                                                                                    <a href="#" class="color green" title="Green"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-description">
                                                                            <div class="product-groups">
                                                                                <div class="product-title">
                                                                                    <a href="product-detail.html">@ViewBag.productTypeListNew[i].Name</a>
                                                                                </div>
                                                                                <div class="product-group-price">
                                                                                    <div class="product-price-and-shipping">
                                                                                        <span class="price">1.000.000vnđ</span>
                                                                                        <del class="regular-price">2.000.000vnđ</del>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-buttons d-flex justify-content-center">
                                                                                <form action="#" method="post" class="formAddToCart">
                                                                                    <input type="hidden" name="id_product" value="1">
                                                                                    <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                    </a>
                                                                                </form>
                                                                                <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                                                </a>
                                                                                <a href="product-detail.html" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-miniature js-product-miniature item-one first-item">
                                                                        <div class="thumbnail-container">
                                                                            <a href="product-detail.html">
                                                                                <img class="img-fluid image-cover" src="@ViewBag.productTypeListNew[i+1].getImageProduct(0)" alt="img">
                                                                                <img class="img-fluid image-secondary" src="@ViewBag.productTypeListNew[i+1].getImageProduct(1)" alt="img">
                                                                            </a>
                                                                            <div class="highlighted-informations">
                                                                                <div class="variant-links">
                                                                                    <a href="#" class="color beige" title="Beige"></a>
                                                                                    <a href="#" class="color orange" title="Orange"></a>
                                                                                    <a href="#" class="color green" title="Green"></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-description">
                                                                            <div class="product-groups">
                                                                                <div class="product-title">
                                                                                    <a href="product-detail.html">@ViewBag.productTypeListNew[i + 1].Name</a>
                                                                                </div>
                                                                                <div class="product-group-price">
                                                                                    <div class="product-price-and-shipping">
                                                                                        <span class="price"></span>
                                                                                        <del class="regular-price">1.150.000 vnđ</del>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-buttons d-flex justify-content-center">
                                                                                <form action="#" method="post" class="formAddToCart">

                                                                                    <input type="hidden" name="id_product" value="1">
                                                                                    <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                    </a>
                                                                                </form>
                                                                                <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                                                </a>
                                                                                <a href="product-detail.html" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- banner -->
                    <div class="container" style="margin-top: 140px">
                        <div class="title-block" style="padding-bottom: 150px;margin-top: -100px">Bộ sưu tập nổi bật</div>
                        @for (int i = 1; i <= ViewBag.listSlideImg.Count / 2; i++)
                        {
                            <div class="section spacing-10 group-image-special col-lg-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="effect">
                                            <a href="collection.html">
                                                <img class="img-fluid" src="@ViewBag.listSlideImg[i]" alt="banner-1" title="banner-1">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="effect">
                                            <a href="collection.html">
                                                <img class="img-fluid" src="@ViewBag.listSlideImg[i+1]" alt="banner-2" title="banner-2">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br><br><br><br>
                        }
                        <!-- testimonial -->
                    </div>

                    <!-- SHOP THE LOOK -->
                    <!--<div class="section spacing-10 groupbanner-special ">
                        <div class="title-block">
                            <span class="sub-title">shop the lookbook</span>
                            <span>SHOP THE LOOK</span>
                            <span>Our Lookbook 2018
                                <br> hand-picked arrivals from
                                <br>the best designer</span>
                        </div>

                        <div class="row">
                            <div class="tiva-lookbook default col-lg-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="items col-lg-12 col-sm-12 col-xs-12">
                                        <div class="tiva-content-lookbook">
                                            <img class="img-fluid img-responsive" src="~/Template/img/home/home1-tolltip1.jpg" alt="lookbook">

                                            <div class="item-lookbook item1">
                                                <span class="number-lookbook">+</span>
                                                <div class="content-lookbook">
                                                    <div class="main-lookbook d-flex align-items-center">
                                                        <div class="item-thumb">
                                                            <a href="product-detail.html">
                                                                <img src="~/Template/img/home/icon-tolltip2.jpg" alt="lorem-ipsum-dolor-sit-amet">
                                                            </a>
                                                        </div>
                                                        <div class="content-bottom">
                                                            <div class="item-title">
                                                                <a href="product-detail.html">Lorem ipsum dolor</a>
                                                            </div>
                                                            <div class="rating">
                                                                <div class="star-content">
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item-price">
                                                                £52.00
                                                            </div>
                                                            <div class="readmore">
                                                                <a href="product-detail.html">View More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item-lookbook item2">
                                                <span class="number-lookbook">+</span>
                                                <div class="content-lookbook">
                                                    <div class="main-lookbook  d-flex align-items-center">
                                                        <div class="item-thumb">
                                                            <a href="product-detail.html">
                                                                <img src="~/Template/img/home/icon-tolltip1.jpg" alt="contrary-to-popular-belief">
                                                            </a>
                                                        </div>
                                                        <div class="content-bottom">
                                                            <div class="item-title">
                                                                <a href="product-detail.html">Sed vel malesuada lorem</a>
                                                            </div>
                                                            <div class="rating">
                                                                <div class="star-content">
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item-price">
                                                                £68.00
                                                            </div>
                                                            <div class="readmore">
                                                                <a href="product-detail.html">View More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            &lt;!&ndash; Module Lookbooks &ndash;&gt;
                            <div class="tiva-lookbook default  col-lg-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="items col-lg-12 col-sm-12 col-xs-12">
                                        <div class="tiva-content-lookbook">
                                            <img class="img-fluid img-responsive" src="~/Template/img/home/home1-tolltip2.jpg" alt="lookbook">

                                            <div class="item-lookbook item3">
                                                <span class="number-lookbook">+</span>
                                                <div class="content-lookbook">
                                                    <div class="main-lookbook  d-flex align-items-center">
                                                        <div class="item-thumb">
                                                            <a href="product-detail.html">
                                                                <img src="~/Template/img/product/34.jpg" alt="lorem-ipsum-dolor-sit-amet">
                                                            </a>
                                                        </div>
                                                        <div class="content-bottom">
                                                            <div class="item-title">
                                                                <a href="product-detail.html">Lorem ipsum dolor sit</a>
                                                            </div>
                                                            <div class="rating">
                                                                <div class="star-content">
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item-price">
                                                                £45.00
                                                            </div>
                                                            <div class="readmore">
                                                                <a href="product-detail.html">View More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item-lookbook item4">
                                                <span class="number-lookbook">+</span>
                                                <div class="content-lookbook">
                                                    <div class="main-lookbook  d-flex align-items-center">
                                                        <div class="item-thumb">
                                                            <a href="product-detail.html">
                                                                <img src="~/Template/img/home/icon-tolltip6.jpg" alt="lorem-ipsum-dolor-sit-amet">
                                                            </a>
                                                        </div>
                                                        <div class="content-bottom">
                                                            <div class="item-title">
                                                                <a href="product-detail.html">Lorem ipsum dolor</a>
                                                            </div>
                                                            <div class="rating">
                                                                <div class="star-content">
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item-price">
                                                                £21.00
                                                            </div>
                                                            <div class="readmore">
                                                                <a href="product-detail.html">View More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item-lookbook item5">
                                                <span class="number-lookbook">+</span>
                                                <div class="content-lookbook">
                                                    <div class="main-lookbook  d-flex align-items-center">
                                                        <div class="item-thumb">
                                                            <a href="product-detail.html">
                                                                <img src="~/Template/img/home/icon-tolltip4.jpg" alt="mug-the-adventure-begins">
                                                            </a>
                                                        </div>
                                                        <div class="content-bottom">
                                                            <div class="item-title">
                                                                <a href="product-detail.html">Sed vel malesuada lorem</a>
                                                            </div>
                                                            <div class="rating">
                                                                <div class="star-content">
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item-price">
                                                                £11.90
                                                            </div>
                                                            <div class="readmore">
                                                                <a href="product-detail.html">View More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="info-lookbook">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            &lt;!&ndash; Module Lookbooks &ndash;&gt;
                            <div class="tiva-lookbook default  col-lg-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="items col-lg-12 col-sm-12 col-xs-12">
                                        <div class="tiva-content-lookbook">
                                            <img class="img-fluid img-responsive" src="~/Template/img/home/home1-tolltip3.jpg" alt="lookbook">

                                            <div class="item-lookbook item6">
                                                <span class="number-lookbook">+</span>
                                                <div class="content-lookbook">
                                                    <div class="main-lookbook  d-flex align-items-center">
                                                        <div class="item-thumb">
                                                            <a href="product-detail.html">
                                                                <img src="~/Template/img/home/icon-tolltip4.jpg" alt="mug-the-adventure-begins">
                                                            </a>
                                                        </div>
                                                        <div class="content-bottom">
                                                            <div class="item-title">
                                                                <a href="product-detail.html">Sed vel malesuada lorem</a>
                                                            </div>
                                                            <div class="rating">
                                                                <div class="star-content">
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item-price">
                                                                £11.90
                                                            </div>
                                                            <div class="readmore">
                                                                <a href="product-detail.html">View More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item-lookbook item7">
                                                <span class="number-lookbook">+</span>
                                                <div class="content-lookbook">
                                                    <div class="main-lookbook  d-flex align-items-center">
                                                        <div class="item-thumb">
                                                            <a href="product-detail.html">
                                                                <img src="~/Template/img/product/13.jpg" alt="brown-bear-vector-graphics">
                                                            </a>
                                                        </div>
                                                        <div class="content-bottom">
                                                            <div class="item-title">
                                                                <a href="product-detail.html">Orci varius natoque penatibus</a>
                                                            </div>
                                                            <div class="rating">
                                                                <div class="star-content">
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item-price">
                                                                £9.00
                                                            </div>
                                                            <div class="readmore">
                                                                <a href="product-detail.html">View More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item-lookbook item8">
                                                <span class="number-lookbook">+</span>
                                                <div class="content-lookbook">
                                                    <div class="main-lookbook  d-flex align-items-center">
                                                        <div class="item-thumb">
                                                            <a href="product-detail.html">
                                                                <img src="~/Template/img/home/icon-tolltip6.jpg" alt="lorem-ipsum-dolor-sit-amet">
                                                            </a>
                                                        </div>
                                                        <div class="content-bottom">
                                                            <div class="item-title">
                                                                <a href="product-detail.html">Etiam congue nisl nec</a>
                                                            </div>
                                                            <div class="rating">
                                                                <div class="star-content">
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item-price">
                                                                £16.00
                                                            </div>
                                                            <div class="readmore">
                                                                <a href="product-detail.html">View More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="info-lookbook">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            &lt;!&ndash; Module Lookbooks &ndash;&gt;
                            <div class="tiva-lookbook default  col-lg-6 col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="items col-lg-12 col-sm-12 col-xs-12">
                                        <div class="tiva-content-lookbook">
                                            <img class="img-fluid img-responsive" src="~/Template/img/home/home1-tolltip4.jpg" alt="lookbook">

                                            <div class="item-lookbook item9">
                                                <span class="number-lookbook">+</span>
                                                <div class="content-lookbook">
                                                    <div class="main-lookbook  d-flex align-items-center">
                                                        <div class="item-thumb">
                                                            <a href="product-detail.html">
                                                                <img src="~/Template/img/home/icon-tolltip10.jpg" alt="lorem-ipsum-dolor-sit-amet">
                                                            </a>
                                                        </div>
                                                        <div class="content-bottom">
                                                            <div class="item-title">
                                                                <a href="product-detail.html">Nam semper a ligula nec</a>
                                                            </div>
                                                            <div class="rating">
                                                                <div class="star-content">
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item-price">
                                                                £41.00
                                                            </div>
                                                            <div class="readmore">
                                                                <a href="product-detail.html">View More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item-lookbook item10">
                                                <span class="number-lookbook">+</span>
                                                <div class="content-lookbook">
                                                    <div class="main-lookbook  d-flex align-items-center">
                                                        <div class="item-thumb">
                                                            <a href="product-detail.html">
                                                                <img src="~/Template/img/home/icon-tolltip8.jpg" alt="lorem-ipsum-dolor-sit-amet">
                                                            </a>
                                                        </div>
                                                        <div class="content-bottom">
                                                            <div class="item-title">
                                                                <a href="product-detail.html">Donec accumsan lectus ut</a>
                                                            </div>
                                                            <div class="rating">
                                                                <div class="star-content">
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item-price">
                                                                £11.00
                                                            </div>
                                                            <div class="readmore">
                                                                <a href="product-detail.html">View More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item-lookbook item11">
                                                <span class="number-lookbook">+</span>
                                                <div class="content-lookbook">
                                                    <div class="main-lookbook  d-flex align-items-center">
                                                        <div class="item-thumb">
                                                            <a href="product-detail.html">
                                                                <img src="~/Template/img/home/icon-tolltip9.jpg" alt="lorem-ipsum-dolor-sit-amet">
                                                            </a>
                                                        </div>
                                                        <div class="content-bottom">
                                                            <div class="item-title">
                                                                <a href="product-detail.html">Fusce quis felis libero</a>
                                                            </div>
                                                            <div class="rating">
                                                                <div class="star-content">
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                </div>
                                                            </div>
                                                            <div class="item-price">
                                                                £11.00
                                                            </div>
                                                            <div class="readmore">
                                                                <a href="product-detail.html">View More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="info-lookbook">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- recent posts -->
                    <div class="container">
                        <div class="section recent-post">
                            <div class="title-block">Tin tức mới nhất</div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="item-post">
                                        <div class="thumbnail-img">
                                            <a href="blog-detail.html">
                                                <img src="~/Template/img/blog/10thumb.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-info">
                                                <span class="comment">
                                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                                    <span>3 Bình luận</span>
                                                </span>
                                                <span class="datetime">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    <span>07/11/2022</span>
                                                </span>
                                            </div>
                                            <div class="post-title">
                                                <a href="blog-detail.html">Những lưu ý khi chọn màu cho nội thất</a>
                                            </div>
                                            <div class="post-desc">
                                                Nếu bạn đang có nhu cầu mua sắm nội thất, chắc hẳn bạn đã có những tìm hiểu nhất định về những gì bạn muốn mua...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-post">
                                        <div class="thumbnail-img">
                                            <a href="blog-detail.html">
                                                <img src="~/Template/img/home/home1-post2.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-info">
                                                <span class="comment">
                                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                                    <span>0 Bình luận</span>
                                                </span>
                                                <span class="datetime">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    <span>06/11/2022</span>
                                                </span>
                                            </div>
                                            <div class="post-title">
                                                <a href="blog-detail.html">Đến Trạm Thu Pin - Thực Hành Sống Xanh</a>
                                            </div>
                                            <div class="post-desc">
                                                PIN năng lượng là vật dụng quen thuộc, không thể thiếu trong bất kỳ gia đình nào, chúng hiện diện trong những món đồ quen...
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="item-post">
                                        <div class="thumbnail-img">
                                            <a href="blog-detail.html">
                                                <img src="~/Template/img/home/home1-post3.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <div class="post-info">
                                                <span class="comment">
                                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                                    <span>0 Bình luận</span>
                                                </span>
                                                <span class="datetime">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    <span>05/11/2022</span>
                                                </span>
                                            </div>
                                            <div class="post-title">
                                                <a href="blog-detail.html"> Ưu Đãi Mừng 2K4 Tốt Nghiệp THPT 2022</a>
                                            </div>
                                            <div class="post-desc">
                                                Hòa mình vào không khí Kỳ thi Trung học phổ thông Quốc gia 2022 và chào đón Tân sinh viên năm học mới 2022 - 2023,...
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- partner -->
                        <div class="section introduct-logo">
                            <div class="row">
                                <div class="tiva-manufacture  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="block">
                                        <div id="manufacture" class="owl-carousel owl-theme owl-loaded owl-drag">
                                            <div class="item">
                                                <div class="logo-manu">
                                                    <a href="#" title="view products">
                                                        <img class="img-fluid" src="~/Template/img/home/icon-logo1.jpg" alt="img" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="logo-manu">
                                                    <a href="#" title="view products">
                                                        <img class="img-fluid" src="~/Template/img/home/icon-logo2.jpg" alt="img" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="logo-manu">
                                                    <a href="#" title="view products">
                                                        <img class="img-fluid" src="~/Template/img/home/icon-logo3.jpg" alt="img" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="logo-manu">
                                                    <a href="#" title="view products">
                                                        <img class="img-fluid" src="~/Template/img/home/icon-logo4.jpg" alt="img" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="logo-manu">
                                                    <a href="#" title="view products">
                                                        <img class="img-fluid" src="~/Template/img/home/icon-logo5.jpg" alt="img" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="logo-manu">
                                                    <a href="#" title="view products">
                                                        <img class="img-fluid" src="~/Template/img/home/icon-logo6.jpg" alt="img" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="policy-home">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="block">
                                        <div class="block-content" style="">
                                            <div class="policy-item">
                                                <div class="policy-content iconpolicy1">
                                                    <img src="~/Template/img/home/policy-index-removebg.png" alt="img">
                                                    <div class="description">
                                                        <div class="policy-name mb-5">Giao hàng & lắp đặt</div>
                                                        <div class="policy-des">Miễn phí</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tiva-html col-lg-4 col-md-4">
                                    <div class="block">
                                        <div class="block-content">
                                            <div class="policy-item">
                                                <div class="policy-content iconpolicy2">
                                                    <img src="~/Template/img/home/1on1-removebg.png" alt="img">
                                                    <div class="description">
                                                        <div class="policy-name mb-5">Đổi trả 1 - 1</div>
                                                        <div class="policy-des">Miễn phí</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tiva-html col-lg-4 col-md-4">
                                    <div class="block">
                                        <div class="block-content">
                                            <div class="policy-item">
                                                <div class="policy-content iconpolicy3" style="text-align: center">
                                                    <img src="~/Template/img/home/warranty-removebg.png" alt="img">
                                                    <div class="description">
                                                        <div class="policy-name mb-5">1 năm bảo hành</div>
                                                        <div class="policy-des">Miễn phí</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

